* {
  margin: 0;
  padding: 0.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f1faee;
  background-image: #e63946 'camera_icon.png';
  color: #e63946;
 /*background-image: linear-gradient(to right, #f1faee,#ccd5ae,#fdf0d5);*/

  }
  style {
    border: solid 10px #450920;
  }
.home_btn{
  font-size: 200%;
  text-shadow: 0.5px 0.5px 1px #450920;
}  
.home_btn h4:hover {
  transform: skew(20deg, 10deg);
  transform: rotateX(45deg);
  transition-duration: 2s;
transform-style: flat;
animation-direction: alternate-reverse;
  
}

  img {
    background-color: #161616;
    justify-content: center;
    
  }
button {

  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 6px solid #edf2f4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border-bottom: solid 6px #e63946;
  border-top: 6px #e63946;
  text-align: center;
 
  font-size: 21px;
  margin: 4px 2px;
  
  width: 100px;
  height: 60px;
  z-index: 1;
  border-radius: 80px;
  background: #e63946;
  box-shadow: 2px 2px 4px #edede9;
  text-shadow: 1px 1px 2px #000000;
}
video {
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 80px;
  border: 4px solid white;
  left: 50%;
  top: 50%;
  z-index: 0;
  background-image: linear-gradient(to right, #f1faee,#ccd5ae,#fdf0d5);
 width: 80%;
 height: auto;
 max-height:480px ;
 max-width: 640px;
}
/* The animation code */
@keyframes shadows {
  0%   { box-shadow: 30px 20px 24px #ffa5ab;}
  25%  { box-shadow: 30px 20px 14px #da627d;}
  50%  { box-shadow: 20px 30px 14px #a53860;}
  100% { box-shadow: 20px 30px 24px #450920;}
}

/* The element to apply the animation to */
video {
  animation-name: shadows;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

canvas {
  
  top: 70%;
  border-radius: 80px;
  border: 4px solid #e63946;
  position: absolute;
  z-index: 2;
  left: 5%;
  width: 25%;
  background-image: linear-gradient(to right, #f1faee,#ccd5ae,#fdf0d5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: width 1s;
  transition-delay: 0.5;
}
canvas:hover {
  width: 60%;
  top: 60%;
  border: dashed;
}

header{
  position: relative;
  left: 0;
  top: 0;
  width: 1005;
  height: 80px;
  
      }

header h4{
  position: absolute;
  left: 10%;
  bottom: 1rem;
  font-size: 3.6rem;
  font-family: 'Nunito', sans-serif;
  font-style: bold italic;
  text-shadow: 2px 2px 4px #000000;
  
}
header h4:hover {
  transform: skew(20deg, 10deg);
  transform: rotateX(45deg);
  transition-duration: 2s;
transform-style: preserve-3d;
animation-direction: alternate-reverse;
  
}

/* Splash Screen*/

.Intro {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161616;
  font-size: x-large;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20%;
  opacity: 0;
  color: #da627d;
  background-color: #161616;
  font-size: 300%;
  -webkit-box-reflect: below 50% linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


 
